.counterButton {
    background-color: white;
    border-radius: .3em;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    font-size: calc(10px + 2vmin);
    padding: .3em .5em;
}

.counterButton:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 6px 20px rgba(255, 255, 255, 0.19);
}