@use "../../shared/Colors.scss";

.gamePage {
    text-align: center;
  
    .gamePageContent {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: Colors.$ThemeDark;
    }
  }